.content{
    margin-bottom: 50px;
    }

body { 
    padding-top: 65px; 
    }

.submit_button_wrapper{
    text-align: center;
    margin-top: 50px;
    }

.kanji_block{
    min-height: 200px;
    background-color: #01806F;
    margin: 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    }

.kanji_block a:link, a:visited, a:active, a:hover{
    color: #013435;
    text-decoration: none;
    outline: 0;
    }

.kanji_info_link{
    display: block;
    height: 200px;
    }

.kanji_block:hover{
    background-color: #EBD90B;
    }

.kanji_block:hover .translation{
    color: black;
    }

div.kanji{
    display: inline-block;
    line-height: normal;
    font-size: 70pt;
    }

div.translation{
    margin-top: 30px;
    font-size: 120%;
    color: #A2B0A8;
    }

div.kanji_info{
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    min-width: 130px;
    color: black;
    font-size: x-small;
    display:none;
    }

.kanji_jlpt_level{
    float: left;
    }

.kanji_key_hieroglyph{
    float: right;
    }

#kanji_actions{
    height: 90px;
    width: 40px;
    display: none;
    background-color: #EBD90B;
    position: absolute;
    z-index: 2;
    margin: 5px;
    border-radius: 0 10px 10px 0;
    }

#kanji_actions_wrapper{
    height: 200px;
    width: 30px;
    margin-left: 10px;
    }

.icon_wrapper{
    height: 30px;
    width: 30px;
    margin: 5px;
    }

.kanji_list{
    border-radius: 0 0 10px 10px;
    background-color: #01806F;
    height: 600px;
    overflow: auto;
    }

.kanji_list_element{
    border-radius: 3px;
    background-color: #01806F;
    margin: 5px;
    }

.kanji_list_element:hover{
    background-color: #EBD90B;
    }

.kanji_list_element:hover .kanji_translation{
    color: #013435;
    }

.big_kanji{
    font-size: 100pt;
    line-height: normal;
    margin-left:50px;
    background-color: #EBD90B;
    height: 170px;
    width: 170px;
    text-align: center;
    vertical-aling: center;
    border-radius: 10px;
    }

.kanji_list_header{
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: #01806F;
    }

.submit_no_style{
    display: inline-block;
    border: none;
    background: none;
    margin-left: 0;
    padding-left: 0;
    }

.kanji_hieroglyph{
    font-size: 200%;
    line-height: normal;
    }

.kanji_translation{
    color: #A2B0A8;
    }

.dict_kanji_actions{
    display: none;
    width: 25px;
    height: 25px;
    vertical-align: center;
    }

.profile_dict{
    border-radius: 0 10px 10px 10px;
    }

#info_hieroglyph{
    font-size: 160pt;
    height: 300px;
    line-height: normal;
    text-align: center;
    }

#info_translation{
    font-size: 200%;
    color: #A2B0A8;
    text-align: center;
    }

#info_kanji_key_hieroglyph{
    font-size: 30pt;
    line-height: normal;
    }