{% extends "site_base.html" %}

{% load bootstrap_pagination %}

v{% block content %}
<div class="span12">

<div id="kanji_actions">
     <div id="kanji_actions_warpper">
          <div class="icon_wrapper">
                <a href="#" ><img src="/static/icons/glyphicons_184_volume_up.png"/></a>
          </div>
          <div class="icon_wrapper">
                <form class="js_add_kanji_to_user_dict" method="POST" action="{% url add_kanji_to_user_dict %}">
                    {% csrf_token %}
                    <input type="hidden" name="kanji" value="">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="submit_no_style" type="submit" title="Добавить в словарь"><img src="/static/icons/glyphicons_190_circle_plus.png"/></button>
                </form>          
          </div>
     </div>
</div>
{% for kanji in kanjis %}
<div class="span2 kanji_block">
<a class="kanji_info_link" href="{% url kanji_info kanji.hieroglyph %}">

<div class="kanji">
{{ kanji.hieroglyph }}
</div>
<div class="translation">
{{ kanji.meaning }}
</div>
<div class="kanji_info">
<span class="kanji_jlpt_level">JLPT:{{ kanji.jlpt_level }}</span>
<span>{{ kanji.key.number }}.{{ kanji.additional_features }}</span>
<span class="kanji_key_hieroglyph">ключ: {{kanji.key.key }}</span>
</div>

</a>
</div>
{% endfor %}
{% bootstrap_paginate page_obj url_view_name="kanji_list" range=10 %}

</div>
{% endblock %}


{% block script_area %}
<script>
var $kanji_actions = $('#kanji_actions');
console.log($kanji_actions);
$('.kanji_block').mouseenter(function(){
        $(this).find('.kanji_info').show();
        var pos = $(this).position();
        $kanji_actions.css({
                position: "absolute",
                top: (-5) + "px",
                left: ($(this).width() - 12) + "px"
                }).show();
        $(this).append($kanji_actions);
        var kanji = $.trim($(this).find('.kanji').text());
        var $kanji_add_to_user_dict_input = $kanji_actions.find('.js_add_kanji_to_user_dict').find('input[name$=kanji]');
        console.log($kanji_add_to_user_dict_input);
        $kanji_add_to_user_dict_input.val(kanji);
        console.log($kanji_add_to_user_dict_input.val());
});

$('.kanji_block').mouseleave(function(){
        $(this).find('.kanji_info').hide();
        $kanji_actions.hide();

});

</script>
{% endblock %}
