{% extends "site_base.html" %}

{% block css_area %}
<link href="/static/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<span class="tabbable tabs-left span5">

<ul class="nav nav-tabs">
    <li><a href="#dict_list" data-toggle="tab"><i class="icon-book" title="Весь словарь"></i></a></li>    
    <li class="active"><a href="#added_list" data-toggle="tab"><i class="icon-plus-sign" title="Недавно добавленные"></i></a></li>
    <li><a href="#failed_list" data-toggle="tab"><i class="icon-exclamation-sign" title="Невыученные"></i></a></li>
</ul>

<div class="tab-content profile_dict">

<div class="dict_kanji_actions pull-right">
<form method="POST" action="{% url remove_kanji_from_user_dict %}">
                    {% csrf_token %}
                    <input type="hidden" name="kanji" value="">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="submit_no_style" type="submit" title="Удалить из словаря"><img src="/static/icons/glyphicons_191_circle_minus.png"/></button>

</div>

<div id="dict_list" class="tab-pane active kanji_list">
{% for kanji in dict %}
<div class="kanji_list_element">
     <span class = "kanji_hieroglyph">
     <a href="{% url kanji_info kanji.hieroglyph %}">
       {{ kanji.hieroglyph }}
     </a>
     </span>
     <span class = "kanji_translation">
       {{ kanji.meaning }}
     </span>
</div>
{% endfor %}
</div>

<div id="failed_list" class="tab-pane active kanji_list">
{% for kanji in failed %}
<div class="kanji_list_element">
     <span class = "kanji_hieroglyph">
     <a href="{% url kanji_info kanji.hieroglyph %}">     
       {{ kanji.hieroglyph }}
     </a>
     </span>
     <span class = "kanji_translation">
       {{ kanji.meaning }}
     </span>
</div>     
{% endfor %}
</div>     

<div id="added_list" class="tab-pane active kanji_list">
{% for kanji in added %}
<div class="kanji_list_element">
     <span class = "kanji_hieroglyph">
     <a href="{% url kanji_info kanji.hieroglyph %}">     
       {{ kanji.hieroglyph }}
     </a>
     </span>
     <span class = "kanji_translation">
       {{ kanji.meaning }}
     </span>
</div>
{% endfor %}
</div>

</div>
</span>

{% endblock %}

{% block script_area %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>!window.jQuery.ui && document.write(unescape('%3Cscript src="/static/jquery-ui-1.8.21.custom.min.js"%3E%3C/script%3E'))</script>
<script src="/static/jquery.mousewheel.min.js"></script>
<script src="/static/jquery.mCustomScrollbar.js"></script>
<script>
$kanji_actions = $('.dict_kanji_actions');
    (function($){
        $(window).load(function(){
            $(".kanji_list").mCustomScrollbar();
        $('a[href="#dict_list"]').click();

        $('.kanji_list_element').mouseenter(function(){

            var pos = $(this).position();
            $kanji_actions.css({
                    position: "absolute",
                    top: (pos.top + $(this).height()/2 - $kanji_actions.height()/2 + 5) + "px",
                    left: ($(this).width() - 27) + "px"
                    });
            $kanji_actions.show()
            $(this).append($kanji_actions);
            var kanji = $.trim($(this).find('.kanji_hieroglyph').text());
            var $kanji_add_to_user_dict_input = $kanji_actions.find('input[name$=kanji]');
            $kanji_add_to_user_dict_input.val(kanji);

        });

        $('.kanji_list_element').mouseleave(function(){
             $(this).find('.dict_kanji_actions').hide();
        });

        
        });
    })(jQuery);

</script>

{% endblock %}
